{% extends 'base.html' %}

{% block content %}
<div id="infobar" class="alert alert-success" role="alert" style="display:none">
</div>

<div class="row" style="margin-top: 50px">
    <div class="col-md-6">
        <form name="form1" method="post" onsubmit="return formCheck()">
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">電子郵箱</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="mobile">手機</label>
                <input type="text" class="form-control" id="mobile" name="mobile">
            </div>
            <div class="form-group">
                <label for="birthday">生日</label>
                <input type="text" class="form-control" id="birthday" name="birthday">
            </div>
            <div class="form-group">
                <label for="address">地址</label>
                <textarea class="form-control" name="address" id="address" cols="30" rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    var infobar = $('#infobar');
    function formCheck() {
        infobar.hide();
        // TODO: 欄位檢查
        $.post('/address-book-mysql/add', $(document.form1).serialize(), function(data){
            console.log(data)

            if(data.success){
                infobar.removeClass('alert-danger').addClass('alert-success').text('新增成功');
            } else {
                infobar.removeClass('alert-success').addClass('alert-danger').text(data.error);
            }
            infobar.slideDown();
            setTimeout(function(){
                infobar.slideUp();
            }, 3000);

        }, 'json');
        return false;
    }
</script>
{% endblock %}