{% extends 'base.html' %}

{% block content %}
<div id="infobar" class="alert alert-success" role="alert" style="display:none">
</div>

<div class="row" style="margin-top: 50px">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">編輯資料</h5>
                <form name="form1" method="post" onsubmit="return formCheck()">
                    <input type="hidden" name="sid" value="{{ row.sid }}">
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" class="form-control" id="name" name="name" required
                               value="{{ row.name }}">
                    </div>
                    <div class="form-group">
                        <label for="email">電子郵箱</label>
                        <input type="email" class="form-control" id="email" name="email"
                               value="{{ row.email }}">
                    </div>
                    <div class="form-group">
                        <label for="mobile">手機</label>
                        <input type="text" class="form-control" id="mobile" name="mobile"
                               value="{{ row.mobile }}">
                    </div>
                    <div class="form-group">
                        <label for="birthday">生日</label>
                        <input type="text" class="form-control" id="birthday" name="birthday"
                               value="{{ row.birthday }}">
                    </div>
                    <div class="form-group">
                        <label for="address">地址</label>
                        <textarea class="form-control"
                                  name="address" id="address" cols="30" rows="5"
                        >{{ row.address }}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">修改</button>
                </form>
            </div>
        </div>


    </div>
</div>

{% endblock %}

{% block scripts %}
<script>


    var infobar = $('#infobar');
    function formCheck() {
        infobar.hide();
        // TODO: 欄位檢查
        $.post('/address-book-mysql/edit/', $(document.form1).serialize(), function(data){
            console.log(data)

            if(data.success){
                infobar.removeClass('alert-danger').addClass('alert-success').text('編輯成功');
            } else {
                infobar.removeClass('alert-success').addClass('alert-danger').text('資料沒有修改');
            }
            infobar.slideDown();
            setTimeout(function(){
                infobar.slideUp();
            }, 3000);

        }, 'json');
        return false;
    }


</script>
{% endblock %}