{% extends 'base.html' %}

{% block content %}
<style>
    table td a .fa-trash-alt {
        color: red;
    }
</style>
<div class="row">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {{ 'disabled' if page==1 }}">
                    <a class="page-link" href="/address-book-mysql/list/{{ page-1 }}">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                </li>
                {% for i in range(total_pages) %}
                <li class="page-item {{ 'active' if page==i+1 }}">
                    <a class="page-link" href="/address-book-mysql/list/{{ i+1 }}">{{ i+1 }}</a>
                </li>
                {% endfor %}
                <li class="page-item {{ 'disabled' if page==total_pages }}">
                    <a class="page-link" href="/address-book-mysql/list/{{ page+1 }}">
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="row" style="margin-top: 50px">
    <div class="col">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col"><i class="fas fa-trash-alt"></i></th>
                <th scope="col">#</th>
                <th scope="col">姓名</th>
                <th scope="col">電郵</th>
                <th scope="col">手機</th>
                <th scope="col">生日</th>
                <th scope="col">地址</th>
                <th scope="col"><i class="fas fa-edit"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for i in rows %}
            <tr>
                <!--
                <td>
                    <a href="/address-book-mysql/del/{{ i.sid }}" onclick="doDel(event)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
                -->
                <td>
                    <a href="javascript:del_it({{ i.sid }})" >
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
                <td>{{ i.sid }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.mobile }}</td>
                <td>{{ i.birthday }}</td>
                <td>{{ i.address | safe }}</td><!-- html unescape -->
                <td>
                    <a href="/address-book-mysql/edit/{{ i.sid }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function doDel(event){
        var a_tag = $(event.currentTarget);
        var sid = a_tag.parent().next().text();
        if(! confirm(`確定要刪除編號為 ${sid} 的資料嗎?`)){
            event.preventDefault();
        }
    }

    function del_it(sid) {
        if(confirm(`確定要刪除編號為 ${sid} 的資料嗎?`)){
            location.href = '/address-book-mysql/del/' + sid;
        }
    }
</script>
{% endblock %}