<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    {% block my_styles %}
    {% endblock %}
    <title>{% block title %}我的網站{% endblock %}</title>
</head>
<body>
{% block navbar %}
    {% include 'parts/navbar.html' %}
{% endblock %}

<div class="container">
{% block content %}
{% endblock %}
</div>

<script src="/js/jquery-3.5.1.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>