<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>姓名</td>
        <td>電郵</td>
        <td>手機</td>
        <td>生日</td>
    </tr>
    {% for i in t_data %}
    <tr>
        <td>{{ i['name'] }}</td>
        <td>{{ i['email'] }}</td>
        <td>{{ i['mobile'] }}</td>
        <td>{{ i['birthday'] }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>